################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestFrameWork/.vs/TestFrameWork/v15
/TestFrameWork/DLLCallTest/Debug
/TestFrameWork/OCR_Tets/Debug
/TestFrameWork/OpenGL/Debug
/TestFrameWork/OpenGL/x64/Debug/OpenGL.tlog
/TestFrameWork/Debug
/TestFrameWork/DllTest/Debug/DllTest.tlog
/TestFrameWork/DllTest/Debug
/TestFrameWork/OpenGL/x64/Debug
/.vs/TestFrameWork/v15/ipch
/.vs
/Debug
/DLLCallTest/Debug/DLLCallTest.tlog
/DLLCallTest/Debug/vc141.idb
/DllTest/Debug
/OCR_Tets/Debug
/OpenGL/Debug
/OpenGL/x64/Debug
/Test/Debug
/Test/Release/Test.tlog
/DllTest/Release/DllTest.tlog
/OCR_Tets/Release/OCR_Test.tlog
/MemoryDetect/Debug/MemoryDetect.tlog
/MemoryDetect/Debug/vc141.idb
/MemoryDetect/targetver.h
/MemoryDetect/stdafx.h
/MemoryDetect/pch.h
/MemoryDetect/pch.cpp
/MemoryDetect/MemoryDetect.vcxproj.filters
/MemoryDetect/MemoryDetect.vcxproj
/DXCapture/x64/Debug/DXCapture.tlog
/DXCapture/x64/Debug/*.idb
/SmallAgent/.vs/DXCapture/v15/ipch
/SmallAgent/Debug/DXCapture.tlog
/SmallAgent/Debug/vc141.idb
/SmallAgent/.vs/DXCapture/v15
/SmallAgent/x64/Debug/DXCapture.tlog
/SmallAgent/x64/Debug/vc141.idb
/SmallAgent/ScreenShot.bmp
/DXCapture/x64/Debug/Small_Agent.tlog
/SmallAgent/x64/Debug/SmallAgent.tlog
/Libs/NVENC/Lib/linux/stubs/x86_64
/Release
/RTSP_Server/Debug/RTSP_Server.tlog
/RTSP_Server/Release/RTSP_Server.tlog
/RTSP_Client/x64/Debug/*.tlog
/RTSP_Client/x64/Release/*.tlog
*.tlog
*.idb
/RTSP_Client/x64/Debug/*.idb
/RTSP_Client/x64/Debug/*.idb
/RTSP_Server/x64/Debug/*.idb
/RTSP_Server/x64/Debug
/RTSP_Server/x64/Debug/*.tlog
/RTSP_Server/x64/Release/*.tlog
/RTSP_Server/x64/Debug/RTSP_Server.tlog
x64
/RTSP_Server/Debug
/RTSP_Server/x64
/RTSP_Server/Debug
/RTSP_Client/x64
/RTSP_Client/Debug
/x64
x64
/Libs/live555/live/lib/Release
/Libs/live555/live_x64/lib/Release
/RTSP_Server/Old
/Libs/live555/live_x64/lib
/Libs/live555
/RTSP_Server/Old/FFmpegDecoder.cpp
/RTSP_Server/Old/FFmpegDecoder.h
/RTSP_Server/Old/FFmpegH264Encoder.cpp
/RTSP_Server/Old/FFmpegH264Encoder.h
/RTSP_Server/Old/FFmpegH264Source.cpp
/RTSP_Server/Old/FFmpegH264Source.h
/RTSP_Server/Old/LiveRTSPServer.cpp
/RTSP_Server/Old/LiveRTSPServer.h
/RTSP_Server/Old/LiveServerMediaSubsession.cpp
/RTSP_Server/Old/LiveServerMediaSubsession.h
/RTSP_Server/Old/main.cpp
/RTSP_Server/Old/old.cpp
/DllTest/x64
/OCR_Tets/x64
*.ts
*.m3u8
